<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/addpost-index.css">
</head>

<body>
    <header class="header">
        <h2 class="header-title">Activity</h2>
    </header>
    <main class="add-post">
        <form action="#" enctype="multipart/form-data">
            <div class="form-group">
                <p class="form-title">Choose Image</p>
                <label for="file" class="addimg-btn">
                    Add Image
                </label>
                <input type="file" id="file" class="post-img-upload" value="Choose Image">
            </div>
            <div class="form-group pb-0">
                <input type="text" class="post-caption" placeholder="Write your Caption">
            </div>
            <div class="form-group no-border">
                <div class="socialmedia-container">
                    <p>Add Post To</p>
                    <div class="social-media">
                        <p>Facebook</p>
                        <div class="toggle-container">
                            <label for="facebook-cb">
                                <input type="checkbox" class="other-platform" name="facebook-cb" id="facebook-cb">
                                <div class="toggle-btn"></div>
                            </label>
                        </div>
                    </div>
                    <div class="social-media">
                        <p>Twitter</p>
                        <div class="toggle-container">
                            <label for="twitter-cb">
                                <input type="checkbox" class="other-platform" name="twitter-cb" id="twitter-cb">
                                <div class="toggle-btn"></div>
                            </label>
                        </div>
                    </div>
                    <div class="social-media">
                        <p>Tumblr</p>
                        <div class="toggle-container">
                            <label for="tumblr-cb">
                                <input type="checkbox" class="other-platform" name="tumblr-cb" id="tumblr-cb">
                                <div class="toggle-btn"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group no-border">
                <input type="submit" value="Share" class="post-share">
            </div>
        </form>
    </main>
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <a href="index.html" class="footer-link">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="search.html" class="footer-link">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="AddPost.html" class="footer-link">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="notification.html" class="footer-link">
                    <i class="far fa-heart"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="profile.html" class="footer-link">
                    <div class="profile-icon">
                        <img src="img/profiles/profile.jpg" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </footer>
</body>
<script src="https://kit.fontawesome.com/7b32ce4356.js" crossorigin="anonymous"></script>


</html>