<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Post</title>

        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/footer.css" />
        <link rel="stylesheet" href="css/addpost-index.css" />
        <link rel="stylesheet" href="css/edit-profile.css" />
        <link rel="stylesheet" href="css/editpost.css" />
        <link rel="stylesheet" href="css/home-index.css" />
    </head>

    <body>
        <div class="container">
            <form action="">
                <header
                    class="header d-flex justify-content-bt w-100 align-items-center"
                >
                    <div
                        class="header-wrapper d-flex align-items-center w-30 justify-content-bt"
                    >
                        <a href="#" class="text-white">
                            <i class="fas fa-times text-md"></i>
                        </a>
                        <h2 class="header-title">Edit Profile</h2>
                    </div>
                    <div>
                        <a href="#" action="process.php" class="text-primary">
                            <label for="submit"
                                ><i class="fas fa-check text-md"></i
                            ></label>
                            <input
                                type="submit"
                                value="Submit"
                                class="d-none"
                                id="submit"
                            />
                        </a>
                    </div>
                </header>
                <main class="edit mt-30">
                    <div class="edit-post-hero"></div>
                </main>
            </form>
        </div>
    </body>
    <script
        src="https://kit.fontawesome.com/7b32ce4356.js"
        crossorigin="anonymous"
    ></script>
</html>
