<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Mobile</title>

    <!-- css -->
    <link rel="stylesheet" href="css/home-index.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">

    <!-- css -->
</head>

<body>
    <!-- header -->
    <header class="header" id="header">
        <nav class="nav" id="nav">
            <h1 class="logo" id="logo">
                Finsta
            </h1>
            <ul class="nav-list" id="nav-list">
                <li class="nav-item" id="nav-item">
                    <a href="#" class="nav-link" id="nav-link">
                        <i class="far fa-play-circle"></i>
                    </a>
                </li>
                <li class="nav-item" id="nav-item">
                    <a href="#" class="nav-link" id="nav-link">
                        <i class="fas fa-paper-plane"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="stories">
            <ul class="story-list">
                <li class="story-item">
                    <div class="story-content">
                        <div class="story-img">
                            <a href="#" class="story-link">
                                <img src="img/stories/add_new_stories.png" alt="Add new Story">
                            </a>
                        </div>
                        <p class="story-user-name">Your Name</p>
                    </div>
                </li>
                <li class="story-item">
                    <div class="story-content">
                        <div class="story-img">
                            <a href="#" class="story-link">
                                <img src="img/stories/suparth.jpg" alt="Add new Story">
                            </a>
                        </div>
                        <p class="story-user-name">Your Name</p>
                    </div>
                </li>
                <li class="story-item">
                    <div class="story-content">
                        <div class="story-img">
                            <a href="#" class="story-link">
                                <img src="img/stories/siddharth.jpg" alt="Add new Story">
                            </a>
                        </div>
                        <p class="story-user-name">Your Name</p>
                    </div>
                </li>
                <li class="story-item">
                    <div class="story-content">
                        <div class="story-img">
                            <a href="#" class="story-link">
                                <img src="img/stories/susmita.jpg" alt="Add new Story">
                            </a>
                        </div>
                        <p class="story-user-name">Your Name</p>
                    </div>
                </li>
                <li class="story-item">
                    <div class="story-content">
                        <div class="story-img">
                            <a href="#" class="story-link">
                                <img src="img/stories/suresh.jpg" alt="Add new Story">
                            </a>
                        </div>
                        <p class="story-user-name">Your Name</p>
                    </div>
                </li>
                <li class="story-item">
                    <div class="story-content">
                        <div class="story-img">
                            <a href="#" class="story-link">
                                <img src="img/stories/susmita.jpg" alt="Add new Story">
                            </a>
                        </div>
                        <p class="story-user-name">Your Name</p>
                    </div>
                </li>
                <li class="story-item">
                    <div class="story-content">
                        <div class="story-img">
                            <a href="#" class="story-link">
                                <img src="img/stories/sabitra.jpg" alt="Add new Story">
                            </a>
                        </div>
                        <p class="story-user-name">Your Name</p>
                    </div>
                </li>
            </ul>
        </section>
    </header>

    <main class="posts">
        <div class="post-wrapper">
            <div class="post-header">
                <div class="profile-info">
                    <div class="story-img profile-img">
                        <img src="img/profiles/profile.jpg" alt="">
                    </div>
                    <span class="profile-name post-profile-name">
                        suparth.ghimrie
                    </span>
                </div>
                <input type="checkbox" name="checkbox-0" id="checkbox-0" class="checkbox">
                <label for="checkbox-0">
                    <!--Yesma counter halna parxa-->
                    <div class="settings">
                        <i class="fas fa-ellipsis-v setting-icon" id="setting-icon"></i>
                    </div>
                </label>
                <div class="settings-container">
                    <ul class="settings-list">
                        <li class="settings-item">
                            <a href="#" class="settings-link">Report...</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Turn On Post Notification</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Copy Link</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Share To...</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Unfollow</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Mute</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="post-img">
                <img src="img/posts/posts.jpg" alt="">
            </div>
            <div class="post-action">
                <div class="post-action-left">
                    <ul class="action-list">
                        <li class="action-item">
                            <a href="#" class="action-link"><i class="far fa-heart"></i></a>
                        </li>
                        <li class="action-item">
                            <a href="#" class="action-link"><i class="far fa-comment"></i></a>
                        </li>
                        <li class="action-item">
                            <a href="#" class="action-link"><i class="fas fa-paper-plane"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="post-action-right">
                    <a href="#"><i class="far fa-bookmark"></i></a>
                </div>
            </div>
            <p class="post-likes">28 Likes</p>
            <div class="post-comment">
                <div class="post-highlighted-comment">
                    <p class="comment-container"></p>
                    <span class="profile-name">suparth.ghimrie</span>
                    <span class="comment-txt">Wouuuu! Nice Picture!</span>
                    </p>
                </div>
                <div class="post-comment-text-area">
                    <div class="story-img profile-img" id="comment-img">
                        <img src="img/profiles/profile.jpg" alt="">
                    </div>
                    <div class="comment-write">
                        <input type="text" placeholder="Add a Comment." />
                    </div>
                    <div class="post-emojis">
                        <ul class="emoji-list">
                            <li class="emoji-item">
                                <a href="#" class="emoji-link">😀</a>
                            </li>
                            <li class="emoji-item">
                                <a href="#" class="emoji-link">🥰</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-wrapper">
            <div class="post-header">
                <div class="profile-info">
                    <div class="story-img profile-img">
                        <img src="img/profiles/profile.jpg" alt="">
                    </div>
                    <span class="profile-name post-profile-name">
                        suparth.ghimrie
                    </span>
                </div>
                <input type="checkbox" name="checkbox-1" id="checkbox-1" class="checkbox">
                <label for="checkbox-1">
                    <!--Yesma counter halna parxa-->
                    <div class="settings">
                        <i class="fas fa-ellipsis-v setting-icon" id="setting-icon"></i>
                    </div>
                </label>
                <div class="settings-container">
                    <ul class="settings-list">
                        <li class="settings-item">
                            <a href="#" class="settings-link">Report...</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Turn On Post Notification</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Copy Link</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Share To...</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Unfollow</a>
                        </li>
                        <li class="settings-item">
                            <a href="#" class="settings-link">Mute</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="post-img">
                <img src="img/posts/posts.jpg" alt="">
            </div>
            <div class="post-action">
                <div class="post-action-left">
                    <ul class="action-list">
                        <li class="action-item">
                            <a href="#" class="action-link"><i class="far fa-heart"></i></a>
                        </li>
                        <li class="action-item">
                            <a href="#" class="action-link"><i class="far fa-comment"></i></a>
                        </li>
                        <li class="action-item">
                            <a href="#" class="action-link"><i class="fas fa-paper-plane"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="post-action-right">
                    <a href="#"><i class="far fa-bookmark"></i></a>
                </div>
            </div>
            <p class="post-likes">28 Likes</p>
            <div class="post-comment">
                <div class="post-highlighted-comment">
                    <p class="comment-container"></p>
                    <span class="profile-name">suparth.ghimrie</span>
                    <span class="comment-txt">Wouuuu! Nice Picture!</span>
                    </p>
                </div>
                <div class="post-comment-text-area">
                    <div class="story-img profile-img" id="comment-img">
                        <img src="img/profiles/profile.jpg" alt="">
                    </div>
                    <div class="comment-write">
                        <input type="text" placeholder="Add a Comment." />
                    </div>
                    <div class="post-emojis">
                        <ul class="emoji-list">
                            <li class="emoji-item">
                                <a href="#" class="emoji-link">😀</a>
                            </li>
                            <li class="emoji-item">
                                <a href="#" class="emoji-link">🥰</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <a href="index.html" class="footer-link">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="search.html" class="footer-link">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="AddPost.html" class="footer-link">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="notification.html" class="footer-link">
                    <i class="far fa-heart"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="profile.html" class="footer-link">
                    <div class="profile-icon">
                        <img src="img/profiles/profile.jpg" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </footer>
</body>

<!-- scripts -->
<script src="https://kit.fontawesome.com/7b32ce4356.js" crossorigin="anonymous"></script>
<script src="js/home-index.js"></script>
<!-- scripts -->

</html>
