<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>

    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/notification-index.css">
    <link rel="stylesheet" href="css/footer.css">

</head>

<body>

    <header class="header">
        <h2 class="header-title">Activity</h2>
    </header>
    <main class="notifications">
        <div class="notification-container">
            <p class="day-indicator">
                Yesterday
            </p>
            <div class="notification-wrapper">
                <ul class="notification-list">
                    <li class="notification-item">
                        <a href="#" class="notification-link">
                            <div class="profile-img">
                                <img src="img/profiles/profile.jpg" alt="">
                            </div>
                            <div class="notification-info">
                                <p>
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, neque!
                                </p>
                            </div>
                            <div class="post-img">
                                <img src="img/posts/posts.jpg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="notification-item">
                        <a href="#" class="notification-link">
                            <div class="profile-img">
                                <img src="img/profiles/profile.jpg" alt="">
                            </div>
                            <div class="notification-info">
                                <p>
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, neque!
                                </p>
                            </div>
                            <div class="post-img">
                                <img src="img/posts/posts.jpg" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="notification-container">
            <p class="day-indicator">
                This Week
            </p>
            <div class="notification-wrapper margin-bottom">
                <ul class="notification-list">
                    <li class="notification-item">
                        <a href="#" class="notification-link">
                            <div class="profile-img">
                                <img src="img/profiles/profile.jpg" alt="">
                            </div>
                            <div class="notification-info">
                                <p>
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                    Lorem ipsum dolor sit amet!
                                </p>
                            </div>
                            <div class="post-img">
                                <img src="img/posts/posts.jpg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="notification-item">
                        <a href="#" class="notification-link">
                            <div class="profile-img">
                                <img src="img/profiles/profile.jpg" alt="">
                            </div>
                            <div class="notification-info">
                                <p>
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                    Lorem ipsum dolor sit amet consectetur adipisicing!
                                </p>
                            </div>
                            <div class="post-img">
                                <img src="img/posts/posts.jpg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="notification-item">
                        <a href="#" class="notification-link">
                            <div class="profile-img">
                                <img src="img/profiles/profile.jpg" alt="">
                            </div>
                            <div class="notification-info">
                                <p>
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                    Lorem ipsum dolor sit amet
                                </p>
                            </div>
                            <div class="post-img">
                                <img src="img/posts/posts.jpg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="notification-item">
                        <a href="#" class="notification-link">
                            <div class="profile-img">
                                <img src="img/profiles/profile.jpg" alt="">
                            </div>
                            <div class="notification-info">
                                <p>
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                    Lorem ipsum dolor sit amet
                                </p>
                            </div>
                            <div class="post-img">
                                <img src="img/posts/posts.jpg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="notification-item">
                        <a href="#" class="notification-link">
                            <div class="profile-img">
                                <img src="img/profiles/profile.jpg" alt="">
                            </div>
                            <div class="notification-info">
                                <p>
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                    Lorem ipsum dolor sit amet
                                </p>
                            </div>
                            <div class="post-img">
                                <img src="img/posts/posts.jpg" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </main>
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-item">
                <a href="index.html" class="footer-link">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="search.html" class="footer-link">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="AddPost.html" class="footer-link">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="notification.html" class="footer-link">
                    <i class="far fa-heart"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="profile.html" class="footer-link">
                    <div class="profile-icon">
                        <img src="img/profiles/profile.jpg" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </footer>

</body>
<script src="https://kit.fontawesome.com/7b32ce4356.js" crossorigin="anonymous"></script>
<script src="js/home-index.js"></script>

</html>