<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile</title>
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/profile-index.css" />
        <link rel="stylesheet" href="css/footer.css" />
    </head>

    <body>
        <header class="header">
            <nav class="nav">
                <p class="profile-name">
                    <a href="#" class="nav-link">
                        suparth.ghimire
                        <i class="fas fa-chevron-down"></i>
                    </a>
                </p>
                <div class="header-icon">
                    <a href="#" class="nav-link">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </nav>
            <section class="profile-info">
                <a href="#">
                    <div class="profile-img">
                        <img
                            src="img/profiles/profile.jpg"
                            alt="Profile Image"
                        />
                    </div>
                </a>
                <div class="profile-summary">
                    <div class="profile-category">
                        <p class="category-count">
                            10
                        </p>
                        <p class="category-title">
                            Posts
                        </p>
                    </div>
                    <div class="profile-category">
                        <p class="category-count">
                            106
                        </p>
                        <p class="category-title">
                            Followers
                        </p>
                    </div>
                    <div class="profile-category">
                        <p class="category-count">
                            120
                        </p>
                        <p class="category-title">
                            Following
                        </p>
                    </div>
                </div>
            </section>
            <section class="profile-description">
                <p class="full-name">
                    Suparth Narayan Ghimire
                </p>
                <p class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aperiam aliquid voluptas totam.
                </p>
            </section>
            <div class="btn-container">
                <a href="#">
                    Edit Profile
                </a>
            </div>
            <section class="stories">
                <ul class="story-list">
                    <li class="story-item">
                        <div class="story-content">
                            <div class="story-img">
                                <a href="#" class="story-link">
                                    <img
                                        src="img/stories/add_new_stories.png"
                                        alt="Add new Story"
                                    />
                                </a>
                            </div>
                            <p class="story-user-name">Your Name</p>
                        </div>
                    </li>
                    <li class="story-item">
                        <div class="story-content">
                            <div class="story-img">
                                <a href="#" class="story-link">
                                    <img
                                        src="img/stories/suparth.jpg"
                                        alt="Add new Story"
                                    />
                                </a>
                            </div>
                            <p class="story-user-name">Your Name</p>
                        </div>
                    </li>
                    <li class="story-item">
                        <div class="story-content">
                            <div class="story-img">
                                <a href="#" class="story-link">
                                    <img
                                        src="img/stories/siddharth.jpg"
                                        alt="Add new Story"
                                    />
                                </a>
                            </div>
                            <p class="story-user-name">Your Name</p>
                        </div>
                    </li>
                    <li class="story-item">
                        <div class="story-content">
                            <div class="story-img">
                                <a href="#" class="story-link">
                                    <img
                                        src="img/stories/susmita.jpg"
                                        alt="Add new Story"
                                    />
                                </a>
                            </div>
                            <p class="story-user-name">Your Name</p>
                        </div>
                    </li>
                    <li class="story-item">
                        <div class="story-content">
                            <div class="story-img">
                                <a href="#" class="story-link">
                                    <img
                                        src="img/stories/suresh.jpg"
                                        alt="Add new Story"
                                    />
                                </a>
                            </div>
                            <p class="story-user-name">Your Name</p>
                        </div>
                    </li>
                    <li class="story-item">
                        <div class="story-content">
                            <div class="story-img">
                                <a href="#" class="story-link">
                                    <img
                                        src="img/stories/sabitra.jpg"
                                        alt="Add new Story"
                                    />
                                </a>
                            </div>
                            <p class="story-user-name">Your Name</p>
                        </div>
                    </li>
                </ul>
            </section>
        </header>
        <main class="posts">
            <div class="post-img">
                <a href="singlepost.html"
                    ><img src="img/stories/susmita.jpg" alt=""
                /></a>
            </div>
            <div class="post-img">
                <a href="singlepost.html"
                    ><img src="img/stories/suparth.jpg" alt=""
                /></a>
            </div>
            <div class="post-img">
                <a href="singlepost.html"
                    ><img src="img/stories/suresh.jpg" alt=""
                /></a>
            </div>
            <div class="post-img">
                <a href="singlepost.html"
                    ><img src="img/stories/susmita.jpg" alt=""
                /></a>
            </div>
            <div class="post-img">
                <a href="singlepost.html"
                    ><img src="img/stories/suparth.jpg" alt=""
                /></a>
            </div>
            <div class="post-img">
                <a href="singlepost.html"
                    ><img src="img/stories/suresh.jpg" alt=""
                /></a>
            </div>
            <div class="post-img">
                <a href="singlepost.html"
                    ><img src="img/stories/suresh.jpg" alt=""
                /></a>
            </div>
            <div class="post-img">
                <a href="singlepost.html"
                    ><img src="img/stories/suresh.jpg" alt=""
                /></a>
            </div>
        </main>

        <footer class="footer">
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="index.html" class="footer-link">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="search.html" class="footer-link">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="AddPost.html" class="footer-link">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="notification.html" class="footer-link">
                        <i class="far fa-heart"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="profile.html" class="footer-link">
                        <div class="profile-icon">
                            <img src="img/profiles/profile.jpg" alt="" />
                        </div>
                    </a>
                </li>
            </ul>
        </footer>
    </body>
    <script
        src="https://kit.fontawesome.com/7b32ce4356.js"
        crossorigin="anonymous"
    ></script>
</html>
