<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/login.css" />
        <link rel="stylesheet" href="css/index.css" />
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <h1 class="logo" id="logo">
                Finsta
            </h1>

            <form class="form">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Name"
                        id="name"
                    />
                </div>
                <div class="form-group">
                    <input
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        id="name"
                    />
                </div>

                <div class="form-group">
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        id="password"
                    />
                    <div class="pwd-toggle">
                        <a href="#" id="eye">
                            <i class="fas fa-eye pwd-toggler"></i>
                        </a>
                        <span class="toggle-line" id="toggle-line"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Re enter Password"
                        id="password"
                    />
                </div>
                <div class="form-group">
                    <input
                        type="submit"
                        value="Register"
                        class="form-control button"
                    />
                </div>
                <span class="small-detail-txt">
                    Already Have an Account?
                    <span class="small-bold-txt">
                        Log In to Finsta
                    </span>
                </span>
            </form>
            <div class="seperator">
                OR
            </div>
            <form>
                <div class="form-group">
                    <input
                        type="submit"
                        value="Log In from Facebook"
                        class="form-control button"
                    />
                </div>
            </form>
        </div>
    </body>
    <script
        src="https://kit.fontawesome.com/7b32ce4356.js"
        crossorigin="anonymous"
    ></script>
    <script src="js/login.js"></script>
</html>
