<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="css/footer.css" />
        <link rel="stylesheet" href="css/search.css" />
        <link rel="stylesheet" href="css/notification-index.css" />

        <link rel="stylesheet" href="css/index.css" />
    </head>
    <body>
        <header class="search p-20 ">
            <form action="" class="d-flex justify-content-bt">
                <button type="submit" class="text-white search-btn">
                    <i class="fas fa-search"></i>
                </button>
                <input
                    type="text"
                    class="search-box text-white"
                    placeholder="Search Users"
                    id="search-box"
                />
                <button type="reset" class="reset text-white">
                    <i class="fas fa-times text-md"></i>
                </button>
            </form>
        </header>
        <main class="notifications">
            <div class="notification-container">
                <div class="notification-wrapper">
                    <ul class="notification-list">
                        <li class="notification-item w-70">
                            <a href="#" class="notification-link">
                                <div class="profile-img">
                                    <img
                                        src="img/profiles/profile.jpg"
                                        alt=""
                                    />
                                </div>
                                <div class="notification-info">
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="notification-item w-70">
                            <a href="#" class="notification-link">
                                <div class="profile-img">
                                    <img
                                        src="img/profiles/profile.jpg"
                                        alt=""
                                    />
                                </div>
                                <div class="notification-info">
                                    <span class="profile-name">
                                        suparth.ghimire
                                    </span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="footer">
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="index.html" class="footer-link">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="search.html" class="footer-link">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="AddPost.html" class="footer-link">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="notification.html" class="footer-link">
                        <i class="far fa-heart"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="profile.html" class="footer-link">
                        <div class="profile-icon">
                            <img src="img/profiles/profile.jpg" alt="" />
                        </div>
                    </a>
                </li>
            </ul>
        </footer>
    </body>
    <script
        src="https://kit.fontawesome.com/7b32ce4356.js"
        crossorigin="anonymous"
    ></script>
</html>
