/* footer */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #2a2a2a;
}
.footer-link {
  color: white;
  border-radius: 50%;
  font-size: 1.3rem;
}
.profile-icon {
  width: 20px;
  height: 20px;
  padding: 0.2rem;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
/* footer */
